@import './base.css';
@import './variables.css';

.successToast {
    background: var(--m-color);
    border: 1px solid var(--m-color);
    box-shadow: 0px 0px 10px var(--m-color);
    text-shadow: 0px 0px 5px var(--m-color);
}